<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Vue-Todo</title>
</head>

<body>
    <div class="container" id="app">
        <div class="row mt-5">
            <h1 class="mx-auto center-block">{{ title }}</h1>
        </div>
        <div class="row mt-5">
            <div class="mx-auto">
                <label>
                    <input type="radio" name="type" value="-1" v-model="type" checked>
                    <span class="ml-2">すべて</span>
                </label>
                <label class="ml-4">
                    <input type="radio" name="type" value="0" v-model="type">
                    <span class="ml-2">作業中</span>
                </label>
                <label class="ml-4">
                    <input type="radio" name="type" value="1" v-model="type">
                    <span class="ml-2">完了</span>
                </label>
            </div>
        </div>
        <div class="row mt-5">
            <div class="mx-auto col-md-8">
                <form class="add-form" v-on:submit.prevent="doAdd">
                    <div class="input-group">
                        <input class="form-control" type="text" ref="comment" placeholder="new todo...">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <td scope="col">ID</td>
                        <td scope="col">Content</td>
                        <td scope="col">Status</td>
                        <td scope="col"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr is="todo-row" v-for="(item, index) in selectedTodo" :keys="index" :item="item"
                        v-on:change-state="changeState(item)" v-on:remove-item="removeItem(index)" />
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>